@charset "utf-8";
/*******
Abd-al-ala  Camara styles
Base Rules and Typo ******/
/* == reset Eric Meyer's CSS Reset == */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* == HTML5 display-role reset for older browsers == */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section  { display: block; }

/*******
Base Rules and typo ******/
html {
  font-size: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body {
  -webkit-font-smoothing:antialiased;
  font-smoothing:antialiased;
  text-rendering:optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  }
/*
* Create dark grey header with a white logo
*/
  header {
    background-color: #2B2B2B;
    height: 35px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }

  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    text-transform: uppercase;
    float: left;
  }

  header h1.logo:hover {
  color: #fff;
  text-decoration: none;
  }

.container table, th, tr, td {

}
.tableGenerator {
  margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;

	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;

	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;

	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;

	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;
}
.monitors {
  width: 100%
  background-color: #ffffff;
}
.container table {
  margin-top:1%;
  margin-right:15%
  border-collapse: collapse;
  border-spacing: 0;
	width:100%;
  padding:5px;
	-moz-border-radius-bottomleft:12px;
	-webkit-border-bottom-left-radius:12px;
	border-bottom-left-radius:12px;

	-moz-border-radius-bottomright:12px;
	-webkit-border-bottom-right-radius:12px;
	border-bottom-right-radius:12px;

	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;

	-moz-border-radius-topleft:12px;
	-webkit-border-top-left-radius:12px;
	border-top-left-radius:12px;

}

.container tr:last-child td:last-child {
  -moz-border-radius-bottomright:14px;
	-webkit-border-bottom-right-radius:14px;
	border-bottom-right-radius:14px;
}

.container table tr:first-child td:first-child {
  -moz-border-radius-topleft:14px;
	-webkit-border-top-left-radius:14px;
	border-top-left-radius:14px;
}
.container table tr:first-child td:last-child {
	-moz-border-radius-topright:12px;
	-webkit-border-top-right-radius:12px;
	border-top-right-radius:12px;

}.container tr:last-child td:first-child{
  -moz-border-radius-bottomleft:14px;
	-webkit-border-bottom-left-radius:14px;
	border-bottom-left-radius:14px;
}.container tr:hover td{
	background-color:#ffffff;


}
.container td{
	vertical-align:middle;
	background-color:##e5e5e5;
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.container tr:last-child td{
	border-width:0px 1px 1px 0px;
}.container tr td:last-child{
	border-width:0px 0px 1px 0px;
}.container tr:last-child td:last-child{
	border-width:0px 0px 1px 0px;
}
.container tr:first-child td{
  background:-o-linear-gradient(bottom, #cccccc 5%, #b2b2b2 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
  background: -o-linear-gradient(top,#cccccc,b2b2b2);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}
.container tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #eee 5%, #b2b2b2 100%);
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #eee), color-stop(1, #b2b2b2) );
	background:-moz-linear-gradient( center top, #eee 5%, #b2b2b2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#b2b2b2");
  background: -o-linear-gradient(top,#eee,b2b2b2);

	background-color:#eee;
}
.container tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.container tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
  /*
  * Center the body content
  */
.container {
  width:80%;
  margin:0 auto;
  background-color:#dddddd;
}

.jumbo {
  font-size: 12px
  padding: 10px 0 10px 0;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 8px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

.prices {
  width: 15%;
  height: auto;
  display: inline;
  background-color: #888

}
  /*
 * Display navigation links inline
 */
.menu {
  float: right;
  margin-top: 8px;
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  color: #999;
  text-decoration: none;
}

.social li {display: inline;}
.ft{
  clear:both;
  background-color: #eeeeee;
  opacity: .85;
  border-top: 2px solid #eee; font-size:12px;
  margin-top: 3em;
}
.abt{float: left; width:20.05%; margin-right:20%;}
.bt{width: 20.05%; float: left;}
.social-links{float:right; width: 20.05%}
