{% extends "index.html" %}
{% block AWSCosts %}
{% if machine %}
<div class="" >
  <h2>Cost Estimate of "{{machine}}" in AWS regions</h2>
  {% if awsregions %}
  <table>
    <tr><td>Region</td><td>Cost Estimate per Month</td></tr>
    {% for region in  awsregions %}
      <tr><td>{{region[0]|upper}}</td><td>&#36;{{'%0.2f' %region[1]|float}}</td></tr>
    {% endfor %}

  </table>
  {% endif %}
</div>
{% endif %}
{% endblock %}

{% block GCPCosts %}
{% if machine %}
<div class="" >
  <h2>Cost Estimate of "{{machine}}" in GCP regions</h2>
  {% if gcpregions %}
  <table>
    <tr><td>Region</td><td>Cost Estimate per Month</td></tr>
    {% for region in  gcpregions %}
      <tr><td>{{region[0]|upper}}</td><td>&#36;{{'%0.2f' %region[1]|float}}</td></tr>
    {% endfor %}

  </table>
  {% endif %}
</div>
{% endif %}
{% endblock %}
