{% extends "index.html" %}
{% block content %}
<div class="" >
  <h2>AWS Cost Estimates Each Node</h2>
  <div>The cost estimates for each of the instances assumes US eastern region 1 (Virginia) Later we'll include the
  option to retrieve cost by region </div>
  {% if data %}
  <div class="prices" >
  <table>
    <tr><td>Node</td><td>Estimated Cost per month</td></tr>

    {% for (machine, price) in data %}

      <tr><td>{{machine['node']}}</td><td>&#36;{{'%0.2f' % price}}</td></tr>

    {% endfor %}
  </table>
  <p> <span>Total Estimated Cost of Cluster</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>&#36;{{'%0.2f' %total}} / Month</b></span></p>
  </div>
  {% endif %}
</div>
{% endblock %}
