{% extends "index.html" %}
{% block content %}
<div class="" >
  <h2>Monthly On-Demand Cost Estimates of Cluster on GCP</h2>
  <p>The cost estimates for each of the instances takes US region. </p>
  {% if data %}
  <div class="prices">
  <table>
    <tr><td>Node</td><td>Cost estimate per month</td></tr>
    {% for (machine, price) in data %}
      <tr><td>{{machine['node']}}</td><td>&#36;{{'%0.2f' %price}}</td></tr>
    {% endfor %}

  </table>
  <p> <span>Total Estimated Cost of Cluster</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>&#36;{{'%0.2f' %total}} / Month</b></span></p>
  </div>
  {% endif %}
</div>
{% endblock %}
