<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="/static/img/cloud.ico">
  <meta charset="utf-8" name="Cloud-Metric" content="Cloud Cost Estimation, Cost Estimator,
  Cost Estimation on Google Cloud and Amazon AWS, Framwork for Cloud Cost Estimation, Cloud applications cost estimation">
  <title>CLOUD-METRIC: Cost Effective Applications Development Framework for Cloud Insfrastructures </title>
  <strong><link rel="stylesheet" href="/static/css/style.css?q=ltt" type="text/css" media="screen" charset="utf-8"></strong>
  <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->
</head>
<body>
  <header>
      <div class="container">
        <h1 class="logo">Cloud-Metric</h1>
        <strong>
          <nav>
        <ul class="menu">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('nodes') }}">Instances</a></li>
          <li><a href="{{ url_for('awscost') }}">Monthly Cost on AWS</a></li>
          <li><a href="{{ url_for('gcecost') }}">Monthy Cost on GCP</a></li>
          <li><a href="{{ url_for('recommender') }}">Recommendation</a></li>
        </ul>
    </nav></strong>
      </div>
  </header>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    <div class="container">
        {% block instanceDetails %}

        {% endblock %}
    </div>
    <div class="monitors">
      {% block charts %}

      {% endblock %}
    </div>
    <div class="container">
      {% block recommendation %}

      {% endblock %}
    </div>


    <footer class="ft">
        <div class="container">
            <div class="abt">
                <p>
                    Copyright &copy; 2016 - Alieu Jallow
                 </p>
            </div>

             <div  class="bt">
                 <p>
                 </p>
            </div>

             <div class="social-links">
                 <p>
                 </p>
            </div>
        </div>

          </footer><!--end of footer-->
  </body>
</html>
