<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" charset="utf-8" name="Cloud-Metric" content="Cloud Cost Estimation, Cost Estimator,
  Cost Estimation on Google Cloud and Amazon AWS, Framwork for Cloud Cost Estimation, Cloud applications cost estimation">
  <title>CLOUD-METRIC: Cost Effective Applications Development Framework for Cloud Insfrastructures </title>

  <link rel="stylesheet" type="text/css" href="static/style.css" media="all" />
</head>
<body>
  <header class="header">
      <h1 id="title">Welcome to Cloud-Metric Framework</h1>
  </header>
  <nav>
      <ul>
          <li><a href="#">Connect to Machines</a></li>
          <li><a href="#">Show Estimated Costs</a></li>
      </ul>
  </nav>
  <div class="section_1">

  <form action="/connect" method="post">
    Machine IP:<br>
    <input type="text" name="ip" value=""><br>
    SSH Key:<br>
    <textarea name="ssh_key" rows="10" cols="30" placeholder="paste ssh private key here..." >

    </textarea><br><br>
    <input type="submit" value="Connect">
 </form>
 </div>
  <footer class="footer">
    <p>Copyright &nspb; 2016. Designed and Developed by Alieu Jallow</p>
  </footer>
</body>
</html>
