{% extends "index.html" %}

{% block instanceDetails %}
  <span>Number of machines in your enviroment! Click on  each node to show its cost of Google Cloud and Amazon AWS</span>

  <table>
  <tr>
    <td>Node</td>
    <td>OS</td>
    <td>vCPU</td>
    <td>Memory (GB)</td>
    <td>storage (GB)</td>
  <tr>
  {% for machine in data %}
  <tr>
    <td>{{machine['node']}}&nbsp;&nbsp;&nbsp;<a href="{{url_for('show_charts', machine=machine['node'])}}">Monitor</a></td>
    <td>{{machine['os']}}</td>
    <td>{{machine['cpu']}}</td>
    <td>{{ '%0.0f' %(ceil((machine['memory']|float)))}}</td>
    <td>{{ '%0.0f' %(ceil((machine['disk']|float)))}}</td>
  </tr>
  {% endfor %}
  </table>


{% endblock %}
