{% extends "index.html" %}
{% block recommendation %}
    <h2>Instances Recommendation </h2>
    <p>Our optimizer has performed a resources scan on your cluster and
      recommend that you use the following instances
  on AWS and GCP for your cluster.</p>

  <div class="rec1">
    <table>
        <tr><td>Instance Types on AWS</td> </tr>
        {% if aws %}
          {% for data in aws %}
                <tr><td>{{data[0]|upper}}</td> </tr>

          {% endfor %}
        {% endif %}
    </table>
  </div>
  <div class="rec2">
    <table>
        <tr><td>Machine Types on GCP</td> </tr>
        {% if gcp %}
          {% for data in gcp %}
              <tr><td>{{data[0]}}</td> </tr>
          {% endfor %}
        {% endif %}
    </table>
  </div>

{% endblock %}

{% block costOfRecommentedInstances %}

<div class="rec1">
  <table>
      <tr><td>Instance Types on AWS</td> <td>Estimated Monthly Cost</td></tr>
      {% if awsData %}
        {% for data in awsData %}
          <tr><td>{{data[0]|upper}}</td>
          <td>&#36;{{'%0.2f' %data[1]|float}}</td></tr>

        {% endfor %}
      {% endif %}
  </table>
  <p> <span><b>Total Estimated Cost</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>&#36;{{'%0.2f' %awstotal|float}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span> <b>100&#37; Utilization</b></p>
</div>
<div class="rec2">
  <table>
      <tr><td>Instance Types on GCP</td> <td>Estimated Monthly Cost</td></tr>
      {% if gcpData %}
        {% for data in gcpData %}
          <tr><td>{{data[0]}}</td>
          <td>&#36;{{'%0.2f' %data[1]|float}}</td> </tr>
        {% endfor %}
      {% endif %}
  </table>
    <p> <span><b>Total Estimated Cost</b></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span><b>&#36;{{'%0.2f' %gcptotal|float}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b></span> <b>100&#37; Utilization</b></p>
</div>

{% endblock %}
